@use "../sass/variables" as *
@use "../sass/mixins/container" as *
@use "../sass/mixins/interactive" as *

.card
  background-color: $primary
  color: white
  @include flex(column)
  align-items: center
  padding: 1rem
  overflow: hidden
  border: none
  border-radius: 0.8rem
  @include selectable($secondary, 2px, $hover)
  &::after
    border-radius: 0.8rem
  &__image
    height: 100%
    aspect-ratio: 1
  &__text
    font-size: $mainFontSize
    font-weight: 400
    line-height: 1.4em
    max-width: 82%
    margin: 1rem
